*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
}
.mainPage{
  width: 100%;
  height: 100%;
}
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.main{
  background: #FAFAFA;
  width: 100vw;
  height: 100vh;
  padding-top:100px;
 
}
.title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.darkMode{
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap:15px;
}
.flex{

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.label{
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  width: 500px;
  height: 56px;
  flex-shrink: 0;
  padding: 15px;
  display: flex;
  align-items: center;

}
.input{
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  border:none;
  
}
.main select{
  width: 200px;
height: 56px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
outline:none;
border:none;
padding-left:10px;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}
select option{
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
border:none;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
padding-left:10px;
}
.cardWrp{
  display: flex;
 flex-wrap:wrap; 
 justify-content: center;
 margin-top:20px;
row-gap: 20px;
}
.card{
  background: #FFF;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;

}
.flag{
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
.text{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title{
  font-size: 20px;
  font-weight: 600;
}
.p{
  font-size: 16px;
  font-weight: 400;
}
.more{
  font-size: 16px;
  font-weight: 400;
  padding:10px;
  border-radius: 10px;
  background: #b3f4f0;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  border:none;
  outline:none;
  cursor:pointer;
  margin-top:10px;
}
.link{
  text-decoration: none;
  color: #000;
}
.topBar{
  width: 100%;
  padding:40px;
}